.spinner-page {
  background-color: #607d8b;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &__content {
    width: 300px;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__title {
    font-size: 35px;
    font-weight: 600;
    color: #fff;
  }

  &__gif {
    margin: 0 auto;
    text-align: center;
    width: 62px;
  }
}
